To run the program via terminal,

Enter the TuringMachine/dist folder

"cd turingMachine/TuringMachine/dist"

Then run the jar file with the following command,

"java -jar TuringMachine.jar"

For testing, "TMPal.tm" is the program used for a correct palindrome demonstration.
"Palindrome.tm" and "PalindromeNoComments.tm" are used for interpreter testing with more complex programs and for error/comment handling.
