To run the program via terminal,

Enter the TuringMachine/dist folder

"cd turingMachine/TuringMachine/dist"

Then run the jar file with the following command,

"java -jar TuringMachine.jar"

For testing, try running Palindrome.tm and giving it a few different palindromes and non-palindromes. It will tell you what is a palindrome, and also what isn't. To load a different palindrome, you can click reset, and then clear and enter a new input at the prompt. Or to see the same input ran through again, click reset, and run again.

To test the multitape capabilities, try loading testmultitape from Test Files. You can try loading it both before or after changing the machine to three tape mode, to see how it will change automatically if the user doesn't activate a tape that they need. 

For further testing, you can load paliindrom.tm in any tape mode (it only requires one tape) and try running it.

Testing information last updated: 3/23/2017
